<div class="row">
  <%= form_for @fundraiser do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.label "How much do you need?" %><br>
    <%= f.text_field :goal %><br>
    <%= f.label "What percent are you willing to part with?(max is 10)" %><br>
    <%= f.number_field(:equity_given_away, in: 1..10) %><br>
    <%= f.submit class:'button' %>
  <% end %>
</div>  