    <div class="title">
      <h2><%= @fundraiser.title %></h2>
      <h5> </h5>
    </div>  
    <br>
<div class="row">
  <div class="medium-7 columns">
    <img class="thumbnail" src="http://placehold.it/700x400">
     <!-- video_tag @fundraiser.video.url -->
    <div class="row small-up-4">
      <div class="column">
        <img class="thumbnail">
      </div>
      <div class="column">
        <!-- <img class="thumbnail"> -->
      </div>
      <!-- <div class="column">
        <img class="thumbnail">
      </div>
      <div class="column">
        <img class="thumbnail">
      </div> -->
    </div>
   <% if backer_signed_in? %>
      <%= form_for [@fundraiser, @bid] do |f| %>
        <h5> Your Bid</h5>
        <%= f.number_field :money_backed %>
        <%= f.submit 'Back This Company!', class: "button expand" %>
      <% end %>  
    <% else %>
        <%= link_to "Sign in to back this project!", new_backer_session_path, class: 'button expand' %>  
    <% end %>
  </div>
  <div class="medium-5 large-5 columns description-and-title">
      <p><%= @fundraiser.description %></p>
    <h4>Giving Away <%= @fundraiser.equity_given_away %>%</h4 >
    <h5><%= number_to_currency(@fundraiser.goal) %></h5>
    <br>
    <div class="panel">
    </div>  
      <div class="funding-status"></div>
     <% if @fundraiser.money_raised  %> 
      <h3><%= number_to_currency(@fundraiser.money_raised) %> Raised </h3>
    <% end %>
  </div>

</div>
<div class="medium-6 large-5 columns row">
    
</div>