    <div class="title">
      <h2><%= @fundraiser.title %></h2>
      <h5> </h5>
    </div>  
    <br>
<div class="row">
  <div class="large-7 columns">
      <div class="column embed-container">
        <%= content_tag(:iframe, nil, src: "http://www.youtube.com/embed/#{@youtube_id}") %>
      </div>
      
   <% if backer_signed_in? %>
      <%= render partial: 'bids/new_bid' %>
        <h5> Your Bid</h5>
        
    <% else %>
        <%= link_to "Sign in to back this project!", new_backer_session_path, class: 'button expand' %>  
    <% end %>
  </div>
  <div class="medium-5 large-5 columns description-and-title">
      <p><%= @fundraiser.description.html_safe %></p>
    <h4>Giving Away <%= @fundraiser.equity_given_away %>%</h4 >
    <h5><%= number_to_currency(@fundraiser.goal) %></h5>
    <br>
    <div class="panel empty-status">
    </div>  
      <div class="funding-status"></div>
     <% if @fundraiser.money_raised  %> 
      <h3><%= number_to_currency(@fundraiser.money_raised) %> Raised </h3>
    <% end %>
  </div>

</div>
