    <div class="title">
      <h2><%= @fundraiser.title %></h2>
      <h5> </h5>
    </div>  
    <br>
<div class="row">
  <div class="large-7 columns">
      <div class="column embed-container">
        <%= content_tag(:iframe, nil, src: "http://www.youtube.com/embed/#{@youtube_id}") %>
      </div>
      
   <% if backer_signed_in? %>
      <h5> Your Bid</h5>
      <%= render partial: 'bids/new_bid' %>
        
    <% else %>
        <%= link_to "Sign in to back this project!", new_backer_session_path, class: 'button expand' %>  
    <% end %>
  </div>
  <div class="medium-5 large-5 columns description-and-title">
      <p><%= @fundraiser.description.html_safe %></p>
    <h3>Giving Away <%= @fundraiser.equity_given_away %>%</h3 >
    <h5><%= number_with_delimiter(@fundraiser.goal) %> ~ ( <%= number_with_delimiter(@fundraiser.owners_valuation) %> valuation ) </h5>
    <br>
    <div class="panel empty-status" data-amount="<%= @fundraiser.goal - @fundraiser.money_raised %>">
    </div>  
      <div class="funded-status" data-amount="<%= @fundraiser.money_raised %>" data-goal="<%= @fundraiser.goal %>"></div>
     <% if @fundraiser.money_raised  %> 
      <h2><%= number_to_currency(@fundraiser.money_raised) %> Raised </h2>
    <% end %>
  </div>
</div>
<!-- <h2>The owner believes this company is worth</h2> -->
